[submodule "hrbrlife_website"]
	path = hrbrlife_website
	url = https://github.com/hrbrlife/hrbrlife_website.git
[submodule "kyclat_website"]
	path = kyclat_website
	url = https://github.com/hrbrlife/kyclat_website.git
[submodule "freecoapp_site"]
	path = freecoapp_site
	url = https://github.com/hrbrlife/freecoapp_site.git
[submodule "aitxpro_site"]
	path = aitxpro_site
	url = https://github.com/hrbrlife/aitxpro_site.git
[submodule "ccash_site"]
	path = ccash_site
	url = https://github.com/hrbrlife/ccash_site.git
[submodule "instatrust_site"]
	path = instatrust_site
	url = https://github.com/hrbrlife/instatrust_site.git
[submodule "instadao_site"]
	path = instadao_site
	url = https://github.com/hrbrlife/instadao_site.git
[submodule "melusina-galactic-council"]
	path = melusina-galactic-council
	url = https://github.com/hrbrlife/melusina-galactic-council.git
