./solana_workflow-license/
drafts/diagrams/node_modules/

# Other sites (reference only)
instakycsite/
melusinasite/

# Social media assets
social/
qa-testing/node_modules/
hugo-site/public/
hugo-site/qc/node_modules/
hugo-site/node_modules/
hugo-site/tina/__generated__/
hugo-site/tina/tina-lock.json
hugo-site/static/admin/

# Submodule build artifacts
**/node_modules/
**/dist-publish/
**/tina-lock.json
**/__generated__/
**/package-lock.json
static_store
