{{ if .IsTranslated }}
<div class="dropdown">
    <button type="button" id="language-dropdown" aria-expanded="false" class="d-flex align-items-center gap-2 btn-wire dropdown-toggle btn btn-outline-secondary btn-sm" data-bs-toggle="dropdown">
        {{ if eq .Language.Lang "fr" }}
        <span class="emoji-icon">🇫🇷</span><span>FR</span>
        {{ else }}
        <span class="emoji-icon">🇺🇸</span><span>EN</span>
        {{ end }}
    </button>
    <ul class="dropdown-menu">
        {{ range .Translations }}
        <li><a class="dropdown-item" href="{{ .Permalink }}">
            {{ if eq .Language.Lang "fr" }}🇫🇷 Français{{ else }}🇺🇸 English{{ end }}
        </a></li>
        {{ end }}
    </ul>
</div>
{{ else }}
<div class="dropdown">
    <button type="button" id="language-dropdown" aria-expanded="false" class="d-flex align-items-center gap-2 btn-wire dropdown-toggle btn btn-outline-secondary btn-sm" data-bs-toggle="dropdown">
        {{ if eq .Site.Language.Lang "fr" }}
        <span class="emoji-icon">🇫🇷</span><span>FR</span>
        {{ else }}
        <span class="emoji-icon">🇺🇸</span><span>EN</span>
        {{ end }}
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ "/" | relURL }}">🇺🇸 English</a></li>
        <li><a class="dropdown-item" href="{{ "/fr/" | relURL }}">🇫🇷 Français</a></li>
    </ul>
</div>
{{ end }}
