{{- /*
  lang-val: Extract the current language value from a multilingual field.
  If the input is a map with language keys (en/fr), return the current language version.
  If it's already a plain string/value, return it as-is.
  Usage: {{ partial "lang-val" (dict "val" .someField "lang" site.Language.Lang) }}
*/ -}}
{{- $val := .val -}}
{{- $lang := .lang | default "en" -}}
{{- if reflect.IsMap $val -}}
  {{- with index $val $lang -}}
    {{- . -}}
  {{- else -}}
    {{- with index $val "en" -}}
      {{- . -}}
    {{- else -}}
      {{- $val -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- $val -}}
{{- end -}}
